*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/Keystore
gradle.properties
Capstone_Stage1.pdf
Capstone_Stage1.zip
/app/debug
/app/release
